.charCheckbox{
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.validLabel{
    display: block;
}

.errorBox{
    text-shadow: 5px;
    color:tomato;
}