body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bar-container{
  display: flex;
  border-width: 1px;
  border-color: darkcyan;
  background-color: rgba(95, 158, 160, 0.644);
  padding: 1rem;
  border-style: ridge;
  
  /* flex-wrap: wrap; */
}

.bar-item{
  flex-grow: 1;
  text-decoration: none;
}
